body {
  margin: 0;
  font-family: "Gotham book", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(ellipse at bottom, #0a2549 0, #02041a 100%);
  color: #dbdbdb !important;
  min-height: 100vh;
}
